{% extends 'base.html' %}
{% load static %}

{% block title %}
Data Monitoring System 電力単価
{% endblock %}
{% block header %}
    <br>
    <h3 class="display-6 text-light bg-secondary d-inline p-3">{{title}}</h3>
            <p class="h5 mt-4">{{msg|safe}}</p>
        <br>
       
        
{% endblock %}
{% block content %}
    <a href="{% url 'main_app:electric_price_create' %}">登録</a>
    <table class="table" style="font-size : 12px;">
        <tr>
            <th>単価:(¥)</th>
            <th>登録日</th>
            <th>メモ</th>
        </tr>
<!--  データベースで読み出した変数dataをitemに転送しデータ分forで回す-->
    {% for item in object_list %}
        <tr>
            <td>{{ item.Unit_price_electric }}</td>
            <td>{{ item.Unit_price_electric_input_date }}</td>
            <td>{{ item.Unit_price_electric_memo }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}