{% extends 'base.html' %}
{% load static %}

{% block title %}
Data Monitoring System {{ title }}
{% endblock %}
{% block header %}
<div style="padding: 20px">
    <br>
    <h3 class="display-6 text-light bg-primary d-inline p-3">{{title}}</h3>
            <p class="h5 mt-4">{{msg|safe}}</p>
    <br>
</div>
<style>
    th{white-space: nowrap;}
    td{white-space: nowrap;}
</style>    
        
{% endblock %}
{% block content %}
<div style="padding: 20px">
    <form action="" method="get">
        <input name="query_text" value="{{ request.GET.query }}" type="text">
        <input name="query_date" value="{{ request.GET.query }}" type="date">
        <button type="submit" class="btn btn-secondary">検索</button>
    </form>
    
    <a href="{% url 'main_app:customer_machine_recipe_create' %}" class="btn btn-outline-primary">登録</a>

    
<div class="table-responsive">        
    <table class="table" style="font-size : 12px;">
        <tr>
            <th>コースNo</th>
            <th>装置ID</th>
            <th>装置</th>
            <th>品種名ID</th>
            <th>品種名</th>
            <th>時間0</th>
            <th>時間1</th>
            <th>時間2</th>
            <th>時間3</th>
            <th>時間4</th>
            <th>温度0</th>
            <th>温度1</th>
            <th>温度2</th>
            <th>温度3</th>
            <th>温度4</th>
            <th>温度5</th>
            <th>温度6</th>
            <th>温度7</th>
            <th>温度8</th>
            <th>温度9</th>
            <th>温度10</th>
            <th>温度11</th>
            <th>設定0</th>
            <th>設定1</th>
            <th>設定2</th>
            <th>設定3</th>
            <th>設定4</th>
            <th>設定5</th>
            <th>設定6</th>
            <th>設定7</th>
            <th>設定8</th>
            <th>設定9</th>
            <th>設定10</th>
            <th>設定11</th>
            <th>設定12</th>
            <th>設定13</th>
            <th>設定14</th>
            <th>設定15</th>
            <th>設定16</th>
            <th>設定17</th>
            <th>設定18</th>
            <th>設定19</th>
            <th>設定値0</th>
            <th>設定値1</th>
            <th>設定値2</th>
            <th>設定値3</th>
            <th>設定値4</th>
            <th>設定値5</th>
            <th>設定値6</th>
            <th>設定値7</th>
            <th>設定値8</th>
            <th>設定値9</th>
            <th>設定値10</th>
            <th>設定値11</th>
            <th>設定値12</th>
            <th>設定値13</th>
            <th>設定値14</th>
            <th>設定値15</th>
            <th>設定値16</th>
            <th>設定値17</th>
            <th>設定値18</th>
            <th>設定値19</th>
            <th>登録日</th>
            <th>メモ</th>
       
        </tr>
<!--  データベースで読み出した変数dataをitemに転送しデータ分forで回す-->
    {% for item in object_list %}
        <tr>
            <td>{{ item.Customer_recipe_no }}</td>
            <td>{{ item.Customer_machine_id }}</td>
            <td>{{ item.Machine_model }}</td>
            <td>{{ item.Recipe_id }}</td>
            <td>{{ item.Recipe_name }}</td>            
            <td>{{ item.Customer_recipe_time0 }}</td>
            <td>{{ item.Customer_recipe_time1 }}</td>
            <td>{{ item.Customer_recipe_time2 }}</td>
            <td>{{ item.Customer_recipe_time3 }}</td>
            <td>{{ item.Customer_recipe_time4 }}</td>
            <td>{{ item.Customer_recipe_temp0 }}</td>
            <td>{{ item.Customer_recipe_temp1 }}</td>
            <td>{{ item.Customer_recipe_temp2 }}</td>
            <td>{{ item.Customer_recipe_temp3 }}</td>
            <td>{{ item.Customer_recipe_temp4 }}</td>
            <td>{{ item.Customer_recipe_temp5 }}</td>
            <td>{{ item.Customer_recipe_temp6 }}</td>
            <td>{{ item.Customer_recipe_temp7 }}</td>
            <td>{{ item.Customer_recipe_temp8 }}</td>
            <td>{{ item.Customer_recipe_temp9 }}</td>
            <td>{{ item.Customer_recipe_temp10 }}</td>
            <td>{{ item.Customer_recipe_temp11}}</td>
            <td>{{ item.Customer_recipe_conf0}}</td>
            <td>{{ item.Customer_recipe_conf1}}</td>
            <td>{{ item.Customer_recipe_conf2}}</td>
            <td>{{ item.Customer_recipe_conf3}}</td>
            <td>{{ item.Customer_recipe_conf4}}</td>
            <td>{{ item.Customer_recipe_conf5}}</td>
            <td>{{ item.Customer_recipe_conf6}}</td>
            <td>{{ item.Customer_recipe_conf7}}</td>
            <td>{{ item.Customer_recipe_conf8}}</td>
            <td>{{ item.Customer_recipe_conf9}}</td>
            <td>{{ item.Customer_recipe_conf10}}</td>
            <td>{{ item.Customer_recipe_conf11}}</td>
            <td>{{ item.Customer_recipe_conf12}}</td>
            <td>{{ item.Customer_recipe_conf13}}</td>
            <td>{{ item.Customer_recipe_conf14}}</td>
            <td>{{ item.Customer_recipe_conf15}}</td>
            <td>{{ item.Customer_recipe_conf16}}</td>
            <td>{{ item.Customer_recipe_conf17}}</td>
            <td>{{ item.Customer_recipe_conf18}}</td>
            <td>{{ item.Customer_recipe_conf19}}</td>
            <td>{{ item.Customer_recipe_set_value0}}</td>
            <td>{{ item.Customer_recipe_set_value1}}</td>
            <td>{{ item.Customer_recipe_set_value2}}</td>
            <td>{{ item.Customer_recipe_set_value3}}</td>
            <td>{{ item.Customer_recipe_set_value4}}</td>
            <td>{{ item.Customer_recipe_set_value5}}</td>
            <td>{{ item.Customer_recipe_set_value6}}</td>
            <td>{{ item.Customer_recipe_set_value7}}</td>
            <td>{{ item.Customer_recipe_set_value8}}</td>
            <td>{{ item.Customer_recipe_set_value9}}</td>
            <td>{{ item.Customer_recipe_set_value10}}</td>
            <td>{{ item.Customer_recipe_set_value11}}</td>
            <td>{{ item.Customer_recipe_set_value12}}</td>
            <td>{{ item.Customer_recipe_set_value13}}</td>
            <td>{{ item.Customer_recipe_set_value14}}</td>
            <td>{{ item.Customer_recipe_set_value15}}</td>
            <td>{{ item.Customer_recipe_set_value16}}</td>
            <td>{{ item.Customer_recipe_set_value17}}</td>
            <td>{{ item.Customer_recipe_set_value18}}</td>
            <td>{{ item.Customer_recipe_set_value19}}</td>
            <td>{{ item.Customer_machine_input_date }}</td>
            <td>{{ item.Customer_machine_memo }}</td>
            <td><a href="{% url 'main_app:customer_machine_recipe_update' item.pk %}" class="btn btn-outline-primary btn-sm">編集</a></td>
            <td><a href="{% url 'main_app:customer_machine_recipe_delete' item.pk %}" class="btn btn-outline-primary btn-sm">削除</a></td>
        </tr>
    {% endfor %}
    </table>
</div>


    <!--以下よりページネーション-->
    <nav aria-label="Page navigation example">

        <ul class="pagination justify-content-center pagination g-mt-28 g-mb-28">
            <!-- 前へ の部分 -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
    
            <!-- 数字の部分 -->
            {% for num in page_obj.paginator.page_range %}
                {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
    
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
    
            <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    
    </nav>
</div>
{% endblock %}