{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
      
</head>
  
    <body>
        <!-- ナビゲーションバーの設定　-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-2" >
            <div class="container">
                <a class="navbar-brand" href="{% url 'main_app:index' %}">mishima works.</a>
                




                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'main_app:index' %}">ホーム</a></li>
                        <!-- パーミッション　-->
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            
                            <!-- 設定ドロップダウン -->
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        　ユーザー設定
                                      </a>
                                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        
                                        <li><a class="dropdown-item" href="{% url 'main_app:setting_item' %}">品種名登録</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:customer_machine_recipe' %}">コース設定</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:mail_notification' %}">メール登録</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:maintenance_email' %}">メール通知設定</a></li>

                                      </ul>
                                    </li>
                                  </ul>
                            </div>
                            
                            <!-- 単価設定ドロップダウン -->
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                              <ul class="navbar-nav">
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      　コスト設定
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                      
                                      <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">電力単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:steam_price' %}">蒸気単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:gas_price' %}">ガス単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:water_price' %}">水単価</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent_name' %}">溶剤名</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent_manufacturer' %}">溶剤メーカー</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent0_conf' %}">溶剤0単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent1_conf' %}">溶剤1単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent2_conf' %}">溶剤2単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent3_conf' %}">溶剤3単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent4_conf' %}">溶剤4単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent5_conf' %}">溶剤5単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent6_conf' %}">溶剤6単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent7_conf' %}">溶剤7単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent8_conf' %}">溶剤8単価</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:solvent9_conf' %}">溶剤9単価</a></li>
                                    
                                    </ul>
                                  </li>
                                </ul>
                          </div>

                            <!-- モニタードロップダウン -->
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        　装置モニター
                                      </a>
                                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'main_app:machine_drive_history' %}">稼働履歴</a></li>
                                        
                                        <li><a class="dropdown-item" href="{% url 'main_app:work_history_graph' now_year now_month %}">稼働詳細</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:machine_log' %}">時間/回数</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:machine_temperature_log' %}">温度</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:plc_output_count_log' %}">PLC</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:trouble_history'%}">異常履歴</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:trouble_history_graph' now_year now_month %}">異常詳細</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:losstime_graph' now_year now_month %}">タイムロス集計</a></li>
                                        
                                        
                                        </ul>
                                    </li>
                                  </ul>
                            </div>
                            
                            
                          
                            <!-- コスト管理ドロップダウン -->
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                              <ul class="navbar-nav">
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      　コストモニター
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                      
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_electric' %}">電力コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_steam' %}">蒸気コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_gas' %}">ガスコスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_water' %}">水コスト</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent0' %}">溶剤0コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent1' %}">溶剤1コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent2' %}">溶剤2コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent3' %}">溶剤3コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent4' %}">溶剤4コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent5' %}">溶剤5コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent6' %}">溶剤6コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent7' %}">溶剤7コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent8' %}">溶剤8コスト</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent9' %}">溶剤9コスト</a></li>
                                      
                                    </ul>
                                  </li>
                                </ul>
                          </div>

                          

                            <!-- メーカー設定ドロップダウン -->
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        　メーカー設定
                                      </a>
                                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'main_app:customer_infomation' %}">ユーザー情報</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:equipment_category' %}">装置カテゴリー</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:machine_model' %}">装置型式</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:customer_machine' %}">ユーザー装置設定</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:trouble_contents' %}">異常設定</a></li>
                                        
                                        
                                      </ul>
                                    </li>
                                  </ul>
                            </div>

                              
                            {% elif request.user.is_staff %}
                                
                            <!-- 設定ドロップダウン -->
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                              <ul class="navbar-nav">
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      　ユーザー設定
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                      
                                      <li><a class="dropdown-item" href="{% url 'main_app:setting_item' %}">品種名登録</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:customer_machine_recipe' %}">コース設定</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:mail_notification' %}">メール登録</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:maintenance_email' %}">メール通知設定</a></li>

                                    </ul>
                                  </li>
                                </ul>
                          </div>
                          
                          <!-- 単価設定ドロップダウン -->
                          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    　コスト設定
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    
                                    <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">電力単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:steam_price' %}">蒸気単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:gas_price' %}">ガス単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:water_price' %}">水単価</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent_name' %}">溶剤名</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent_manufacturer' %}">溶剤メーカー</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent0_conf' %}">溶剤0単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent1_conf' %}">溶剤1単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent2_conf' %}">溶剤2単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent3_conf' %}">溶剤3単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent4_conf' %}">溶剤4単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent5_conf' %}">溶剤5単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent6_conf' %}">溶剤6単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent7_conf' %}">溶剤7単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent8_conf' %}">溶剤8単価</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:solvent9_conf' %}">溶剤9単価</a></li>
                                  
                                  </ul>
                                </li>
                              </ul>
                        </div>

                          <!-- モニタードロップダウン -->
                          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                              <ul class="navbar-nav">
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      　装置モニター
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                      <li><a class="dropdown-item" href="{% url 'main_app:machine_drive_history' %}">稼働履歴</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:work_history_graph' now_year now_month %}">稼働詳細</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:machine_log' %}">時間/回数</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:machine_temperature_log' %}">温度</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:plc_output_count_log' %}">PLC</a></li>
                                        
                                      <li><hr class="dropdown-divider"></li>
                                      
                                      <li><a class="dropdown-item" href="{% url 'main_app:trouble_history_graph' now_year now_month %}">異常詳細</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:losstime_graph' now_year now_month %}">タイムロス集計</a></li>    
                                      </ul>
                                  </li>
                                </ul>
                          </div>
                          
                          
                        
                          <!-- コスト管理ドロップダウン -->
                          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    　コストモニター
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_electric' %}">電力コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_steam' %}">蒸気コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_gas' %}">ガスコスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_water' %}">水コスト</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent0' %}">溶剤0コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent1' %}">溶剤1コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent2' %}">溶剤2コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent3' %}">溶剤3コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent4' %}">溶剤4コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent5' %}">溶剤5コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent6' %}">溶剤6コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent7' %}">溶剤7コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent8' %}">溶剤8コスト</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent9' %}">溶剤9コスト</a></li>
                                    
                                  </ul>
                                </li>
                              </ul>
                        </div>

                        

                          <!-- メーカー設定ドロップダウン -->
                          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                              <ul class="navbar-nav">
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      　メーカー設定
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                      <li><a class="dropdown-item" href="{% url 'main_app:customer_infomation' %}">ユーザー情報</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:equipment_category' %}">装置カテゴリー</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:machine_model' %}">装置型式</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:customer_machine' %}">ユーザー装置設定</a></li>
                                      <li><a class="dropdown-item" href="{% url 'main_app:trouble_contents' %}">異常設定</a></li>
                                      
                                    </ul>
                                  </li>
                                </ul>
                          </div>




                          {% elif request.user.is_active %}
                            
                          <!-- 設定ドロップダウン -->
                          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    　ユーザー設定
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    
                                    <li><a class="dropdown-item" href="{% url 'main_app:setting_item' %}">品種名登録</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:customer_machine_recipe' %}">コース設定</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:mail_notification' %}">メール登録</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:maintenance_email' %}">メール通知設定</a></li>

                                  </ul>
                                </li>
                              </ul>
                        </div>
                        
                        <!-- 単価設定ドロップダウン -->
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                          <ul class="navbar-nav">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  　コスト設定
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                  
                                  <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">電力単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:steam_price' %}">蒸気単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:gas_price' %}">ガス単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:water_price' %}">水単価</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent_name' %}">溶剤名</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent_manufacturer' %}">溶剤メーカー</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent0_conf' %}">溶剤0単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent1_conf' %}">溶剤1単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent2_conf' %}">溶剤2単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent3_conf' %}">溶剤3単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent4_conf' %}">溶剤4単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent5_conf' %}">溶剤5単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent6_conf' %}">溶剤6単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent7_conf' %}">溶剤7単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent8_conf' %}">溶剤8単価</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:solvent9_conf' %}">溶剤9単価</a></li>
                                
                                </ul>
                              </li>
                            </ul>
                      </div>

                        <!-- モニタードロップダウン -->
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    　装置モニター
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'main_app:machine_drive_history' %}">稼働履歴</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:work_history_graph' now_year now_month %}">稼働詳細</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:machine_log' %}">時間/回数</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:machine_temperature_log' %}">温度</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:plc_output_count_log' %}">PLC</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    
                                    <li><a class="dropdown-item" href="{% url 'main_app:trouble_history_graph' now_year now_month %}">異常詳細</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:losstime_graph' now_year now_month %}">タイムロス集計</a></li>
                                      
                                    </ul>
                                </li>
                              </ul>
                        </div>
                        
                        
                      
                        <!-- コスト管理ドロップダウン -->
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                          <ul class="navbar-nav">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  　コストモニター
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                  
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_electric' %}">電力コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_steam' %}">蒸気コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_gas' %}">ガスコスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_water' %}">水コスト</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent0' %}">溶剤0コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent1' %}">溶剤1コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent2' %}">溶剤2コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent3' %}">溶剤3コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent4' %}">溶剤4コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent5' %}">溶剤5コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent6' %}">溶剤6コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent7' %}">溶剤7コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent8' %}">溶剤8コスト</a></li>
                                  <li><a class="dropdown-item" href="{% url 'main_app:cost_solvent9' %}">溶剤9コスト</a></li>
                                  
                                </ul>
                              </li>
                            </ul>
                      </div>

                      

                        <!-- メーカー設定ドロップダウン -->
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    　メーカー設定
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'main_app:customer_infomation' %}">ユーザー情報</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:equipment_category' %}">装置カテゴリー</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:machine_model' %}">装置型式</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:customer_machine' %}">ユーザー装置設定</a></li>
                                    <li><a class="dropdown-item" href="{% url 'main_app:trouble_contents' %}">異常設定</a></li>
                                    
                                  </ul>
                                </li>
                              </ul>
                        </div>
                            





                            {% else %}
                                
                            {% endif %}
                                <li class="nav-item "><a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a></li>
                        {% else %}
                            <li class="nav-item {% block active_login %}{% endblock %}"><a class="nav-link" href="{% url 'account_login' %}">ログイン</a></li>
                            <li class="nav-item {% block active_signup %}{% endblock %}"><a class="nav-link" href="{% url 'account_signup' %}">サインアップ</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <!-- headerの設定　-->
        {% block header %}{% endblock %}
        <!-- contentの設定 -->
        {% block content %}{% endblock %}
        <br>
        <br>
        <!-- Footerの設定 -->
        <footer class="py-2 bg-dark fixed-bottom">
          <div class="container_f"><p class="m-0 text-center text-white">Copyright &copy; Kenji Mishima 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

    </body>
</html>