{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- ナビゲーションバーの設定　-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top p-3">
            <div class="container">
                <a class="navbar-brand" href="#!">mishima works.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'main_app:index' %}">ホーム</a></li>
                        <!-- パーミッション　-->
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}

                            <!-- 設定ドロップダウン -->
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        　設定
                                      </a>
                                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">装置</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">品種データ</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">電力単価</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">蒸気単価</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">ガス単価</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                            </div>
                            
                            <!-- モニタードロップダウン -->
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        　モニター
                                      </a>
                                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">レシピ</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">稼働履歴</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">異常履歴</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">電力コスト</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">蒸気コスト</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">ガスコスト</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">トータルコスト</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                            </div>
                                 
                            <!-- メーカー設定ドロップダウン -->
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        　メーカー設定
                                      </a>
                                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">レシピ</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">稼働履歴</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">異常履歴</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">電力コスト</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">蒸気コスト</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">ガスコスト</a></li>
                                        <li><a class="dropdown-item" href="{% url 'main_app:electric_price' %}">トータルコスト</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                            </div>

                              
                            {% elif request.user.is_staff %}
                                <li class="nav-item "><a class="nav-link" href="{% url 'main_app:electric_price' %}">基本設定</a></li>
                                <li class="nav-item "><a class="nav-link" href="{% url 'main_app:electric_price' %}">装置情報</a></li>
                                                            
                            {% elif request.user.is_active %}
                            
                                <li class="nav-item "><a class="nav-link" href="{% url 'main_app:electric_price' %}">kari</a></li>
                            
                            {% else %}
                                
                            {% endif %}
                                <li class="nav-item "><a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a></li>
                        {% else %}
                            <li class="nav-item {% block active_login %}{% endblock %}"><a class="nav-link" href="{% url 'account_login' %}">ログイン</a></li>
                            <li class="nav-item {% block active_signup %}{% endblock %}"><a class="nav-link" href="{% url 'account_signup' %}">サインアップ</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <!-- headerの設定　-->
        {% block header %}{% endblock %}
        <!-- contentの設定 -->
        {% block content %}{% endblock %}
        <!-- Footerの設定 -->
        <footer class="py-2 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Kenji Mishima 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

    </body>
</html>