{% extends 'base.html' %}
{% load static %}

{% block title %}
Data Monitoring System {{ title }}
{% endblock %}
{% block header %}
<div style="padding: 20px">
    <br>
    <h3 class="display-6 text-light bg-primary d-inline p-3">{{title}}</h3>
            <p class="h5 mt-4">{{msg|safe}}</p>
        <br>
</div>    
<style>
    th{white-space: nowrap;}
    td{white-space: nowrap;}
</style>        
{% endblock %}
{% block content %}


<div class="month-pager" style="padding: 20px">
    <a href="{% url 'main_app:cost_electric_graph' prev_year prev_month %}">
        前月
    </a>

<span class="ml-4 ml-4">{{ year_month }}</span>
    
    <a href="{% url 'main_app:cost_electric_graph' prev_year prev_month %}">
        次月
    </a>
</div>
{% endblock %}