{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Data Monitoring System {{ title }}
{% endblock %}
{% block header %}
<div style="padding: 20px">
    <br>
    <h3 class="display-6 text-light bg-primary d-inline p-3">{{title}}</h3>
            <p class="h5 mt-4">{{msg|safe}}</p>

            <p class="h6 mt-3">合計：{{Cost_solvent7__sum | intcomma}}</p>
            <p class="h6 mt-1">平均：{{Cost_solvent7__avg | intcomma}}</p>
            <p class="h6 mt-2">最大：{{Cost_solvent7__max | intcomma}}</p>
            <p class="h6 mt-1">最小：{{Cost_solvent7__min | intcomma}}</p>
</div>    
<style>
    th{white-space: nowrap;}
    td{white-space: nowrap;}
</style>        
{% endblock %}
{% block content %}
<div style="padding: 20px">
    <form action="" method="get">
        <label for="mchn_id">装置ID</label>
            <input name="query_text" value="{{ request.GET.query }}" type="text" id="mchn_id">
        <label for="date_f">期間</label>
            <input name="query_date_f" value="{{ request.GET.query }}" type="date" id="date_f">
        <label for="date_l">から</label>
            <input name="query_date_l" value="{{ request.GET.query }}" type="date" id="date_l">
        <button type="submit" class="btn btn-secondary">検索</button>
        <a class="btn btn-outline-success btn" href="{% url 'main_app:cost_solvent7_graph' now_year now_month %}" onclick="window.open('{% url 'main_app:cost_solvent7_graph' now_year now_month %}','graph','width=1200,height=700,noopener');return false;">graph</a>
    
    </form>
    
    <table class="table" style="font-size : 12px;">
        <tr>
            <th>装置ID</th>
            <th>装置</th>
            <th>号機</th>
            <th>使用量</th>
            <th>単価（￥）</th>
            <th>費用（￥）</th>
            <th>データ取得日</th>
            
        </tr>
<!--  データベースで読み出した変数dataをitemに転送しデータ分forで回す-->
    {% for item in object_list %}
        <tr>
            
            <td>{{ item.Customer_machine_id }}</td>
            <td>{{ item.Machine_model }}</td>
            <td>{{ item.Customer_machine_unit_no }}</td>
            <td>{{ item.Machine_solvent7_used }}</td>
            <td>{{ item.Unit_price_solvent7 | intcomma }}</td>
            <td>{{ item.Cost_solvent7 | intcomma }}</td>
            <td>{{ item.Data_date }}</td>
            
            
        </tr>
    {% endfor %}
    </table>
   
    <!--以下よりページネーション-->
    <nav aria-label="Page navigation example">

        <ul class="pagination justify-content-center pagination g-mt-28 g-mb-28">
            <!-- 前へ の部分 -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
    
            <!-- 数字の部分 -->
            {% for num in page_obj.paginator.page_range %}
                {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
    
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
    
            <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    
    </nav>
</div>
{% endblock %}